In [1]:
print("Hi Guys!")

Hi Guys!

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\monster\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\monster\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\monster\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect("AiB-SQLite-db")

In [5]:
cursor = conn.cursor()

cursor.execute("CREATE TABLE Position (Id INTEGER PRIMARY KEY, Employee_Id INTEGER NOT NULL, Title VARCHAR(255), StartingDateOfEmployment INTEGER, EndingDateOfEmployment INTEGER)")

OperationalError: table Position already exists

In [ ]:
conn.commit()
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect("AiB-SQLite-db")

cursor = conn.cursor()

cursor.execute("SELECT Name FROM sqlite_master WHERE type='table'")

tables = cursor.fetchall()

print(tables)

In [ ]:
cursor.execute("CREATE TABLE Salary (Id INTEGER PRIMARY KEY, Employee_Id INTEGER NOT NULL, Salary REAL, StartingDateOfEmployment INTEGER, EndingDateOfEmployment INTEGER)")

In [ ]:
cursor.execute("SELECT Name FROM sqlite_master WHERE type='table'")

tables = cursor.fetchall()

print(tables)

In [ ]:
conn.commit()
conn.close()

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [ ]:
engine = create_engine('sqlite:///AiB-SQLite-db')
Base = declarative_base()

In [ ]:
class Management(Base):
    __tablename__ = 'Management'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer)
    Department_Id = Column(Integer)
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = declarative_base()

class EmploymentDepartment(Base):
    __tablename__ = 'EmploymentDepartment'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer)
    Department_Id = Column(Integer)
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = declarative_base()

class Employmee(Base):
    __tablename__ = 'Employee'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(String)
    Department_Id = Column(String)
    StartingDateOfEmployment = Column(String)
    EndingDateOfEmployment = Column(Date)
    
    Position = relationship("Position")
    Salary = relationship("Salary")
    Management = relationship("Management")
    EmploymentDepartment = relationship("EmploymentDepartment")

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = declarative_base()

class Employee(Base):
    __tablename__ = 'Employee'
    Id = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Gender = Column(String)
    StartingDateOfEmployment = Column(Date)
    
    Position = relationship("Position")
    Salary = relationship("Salary")
    Management = relationship("Management")
    EmploymentDepartment = relationship("EmploymentDepartment")

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = sqlalchemy.orm.declarative_base()

class Employee(Base):
    __tablename__ = 'Employee'
    Id = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Gender = Column(String)
    StartingDateOfEmployment = Column(Date)
    
    Position = relationship("Position")
    Salary = relationship("Salary")
    Management = relationship("Management")
    EmploymentDepartment = relationship("EmploymentDepartment")

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = sqlalchemy.orm.declarative_base()

class Management(Base):
    __tablename__ = 'Management'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer)
    Department_Id = Column(Integer)
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = sqlalchemy.orm.declarative_base()

class EmploymentDepartment(Base):
    __tablename__ = 'EmploymentDepartment'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer)
    Department_Id = Column(Integer)
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = sqlalchemy.orm.declarative_base()

class Employee(Base):
    __tablename__ = 'Employee'
    Id = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Gender = Column(String)
    StartingDateOfEmployment = Column(Date)
    
    Position = relationship("Position")
    Salary = relationship("Salary")
    Management = relationship("Management")
    EmploymentDepartment = relationship("EmploymentDepartment")

In [ ]:
class Department(Base):
    __tablename__ = 'Department'
    Id = Column(Integer, primary_key=True)
    Name = Column(String)

In [ ]:
class Position(Base):
    __tablename__ = 'Position'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer, ForeignKey('Employee.id'))
    Title = Column(String)
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)
    
    Employee = relationship("Employee", back_populates="Position")

In [ ]:
class Salary(Base):
    __tablename__ = 'Salary'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer, ForeignKey('Employee.id'))
    Title = Column(String)
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)
    
    Employee = relationship("Employee", back_populates="Salary")

In [ ]:
class Management(Base):
    __tablename__ = 'Management'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer, ForeignKey('Employee.id'))
    Department_Id = Column(Integer, ForeignKey('Department.id'))
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)
    
    Employee = relationship("Employee", back_populates="Management")
    Department = relationship("Department", back_populates="EmploymentDepartment")

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = sqlalchemy.orm.declarative_base()

class Salary(Base):
    __tablename__ = 'Salary'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer, ForeignKey('Employee.id'))
    Title = Column(String)
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)
    
    Employee = relationship("Employee", back_populates="Salary")

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

engine = create_engine('sqlite:///AiB-SQLite-db')
Base = sqlalchemy.orm.declarative_base()

class Salary(Base):
    __tablename__ = 'Salary'
    Id = Column(Integer, primary_key=True)
    Employee_Id = Column(Integer, ForeignKey('Employee.id'))
    Title = Column(String)
    StartingDateOfEmployment = Column(Date)
    EndingDateOfEmployment = Column(Date)
    
    Employee = relationship("Employee", back_populates="Salary")

In [ ]:
class Employee(Base):
    __tablename__ = 'Employee'
    Id = Column(Integer, primary_key=True)
    Name = Column(String)
    Surname = Column(String)
    Gender = Column(String)
    StartingDateOfEmployment = Column(Date)
    
    Position = relationship("Position")
    Salary = relationship("Salary")
    Management = relationship("Management")
    EmploymentDepartment = relationship("EmploymentDepartment")

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
conn.commit()
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect("AiB-SQLite-db")

cursor = conn.cursor()

cursor.execute("SELECT Name FROM sqlite_master WHERE type='table'")

tables = cursor.fetchall()

print(tables)

In [ ]:
conn.commit()
conn.close()

In [1]:
import sqlite

ModuleNotFoundError: No module named 'sqlite'

In [2]:
import AiB-SQL-Script

SyntaxError: invalid syntax (3841041794.py, line 1)

In [3]:
import AiB-SQLite-db

SyntaxError: invalid syntax (396031080.py, line 1)

In [4]:
import "slqlite"

SyntaxError: invalid syntax (436667611.py, line 1)

In [5]:
sqlite:///AiB-SQLite-db

SyntaxError: invalid syntax (1655839317.py, line 1)

In [6]:
import sqlite:///AiB-SQLite-db

SyntaxError: invalid syntax (1773129439.py, line 1)

In [7]:
import sqlite3

conn = sqlite3.connect("AiB-SQLite-db")

In [11]:
import sqlite3

conn = sqlite3.connect("AiB-SQLite-db")

cursor = conn.cursor()

cursor.execute("""INSERT INTO EmploymentDepartment (id, Employee_Id, Department_Id, StartingDateOfEmployment, EndingDateOfEmployment) VALUES
(1, 1, 1, '2022-01-01', '2022-06-30'),
(2, 2, 1, '2022-02-15', '2022-07-14'),
(3, 3, 1, '2022-03-01', '2022-08-31'),
(4, 4, 1, '2022-04-01', '2022-09-30'),
(5, 5, 1, '2022-05-15', '2022-10-14'),
(6, 6, 2, '2022-06-01', '2022-12-31'),
(7, 7, 2, '2022-07-01', '2022-01-14'),
(8, 8, 2, '2022-08-15', '2022-02-28'),
(9, 9, 2, '2022-09-01', '2022-03-31'),
(10, 10, 2, '2022-10-01', '2022-06-30'),
(11, 1, 3, '2022-11-01', '2022-05-14'),
(13, 3, 3, '2023-01-01', '2022-06-30'),
(14, 4, 3, '2023-02-01', '2022-07-31'),
(15, 5, 3, '2023-03-15', '2022-08-14'),
(16, 6, 1, '2023-04-01', '2022-09-30'),
(17, 7, 1, '2023-05-01', '2022-10-31'),
(18, 8, 1, '2023-06-15', '2024-11-14'),
(19, 9, 1, '2023-07-01', '2023-12-31'),
(20, 10, 1, '2023-08-01', '2024-01-31');""")

In [19]:
cursor.execute("SELECT * FROM EmploymentDepartment")

tables = cursor.fetchall()

print(tables)

[(1, 1, 1, '2022-01-01', '2022-06-30'), (2, 2, 1, '2022-02-15', '2022-07-14'), (3, 3, 1, '2022-03-01', '2022-08-31'), (4, 4, 1, '2022-04-01', '2022-09-30'), (5, 5, 1, '2022-05-15', '2022-10-14'), (6, 6, 2, '2022-06-01', '2022-12-31'), (7, 7, 2, '2022-07-01', '2022-01-14'), (8, 8, 2, '2022-08-15', '2022-02-28'), (9, 9, 2, '2022-09-01', '2022-03-31'), (10, 10, 2, '2022-10-01', '2022-06-30'), (11, 1, 3, '2022-11-01', '2022-05-14'), (13, 3, 3, '2023-01-01', '2022-06-30'), (14, 4, 3, '2023-02-01', '2022-07-31'), (15, 5, 3, '2023-03-15', '2022-08-14'), (16, 6, 1, '2023-04-01', '2022-09-30'), (17, 7, 1, '2023-05-01', '2022-10-31'), (18, 8, 1, '2023-06-15', '2024-11-14'), (19, 9, 1, '2023-07-01', '2023-12-31'), (20, 10, 1, '2023-08-01', '2024-01-31')]

conn.commit()

conn.close()

In [20]:
conn.commit()

conn.close()